

<h1><b>Que ofrece el Gran Teatro del Cibao?</b></h1>
<p>El teatro posee tres grandes salas: la sala principal de la Restauración, la sala Divina Gómez y la Eduardo Brito, donde se presentan destacados espectáculos de artistas y compañías tanto nacionales como internacionales. El Gran Teatro del Cibao es el teatro principal de esta región y uno de los más grandes e importantes de la República Dominicana.</p> 
=======

=======
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Proyecto Final</title>
</head>

<body>
    <div class="footer-basic">
            <div class="social"><a href="#"><i class="icon ion-social-instagram"></i></a><a href="#"><i class="icon ion-social-snapchat"></i></a><a href="#"><i class="icon ion-social-twitter"></i></a><a href="#"><i class="icon ion-social-facebook"></i></a></div>

              <p>
                Para más información llame a este numero:(809) 583-1150
                <br> 
                Nos ubicamos en la: Calle Daniel Espinal, esq. Av. Las Carreras. Santiago
                <br>
                Horario: 9:00 a. m. - 4:00 p.m.
                <br> 
                Nuestra pagina web:https://www.facebook.com/GTCgranteatrocibao/
              </p>
            <p class="copyright"> Company Name © 2018</p>
    </div>
    <div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/js/bootstrap.bundle.min.js"></script>
   </div>
</body>
=======

<h2 style="color: #364F6B;">Sobre el Gran Teatro</h2>

<p>
  El Gran Teatro del Cibao se inauguró en agosto de 1995 y su diseño estuvo a cargo del arquitecto Teófilo Carbonell. El edificio está rodeado de jardines y se encuentra frente al Monumento a los Héroes de la Restauración, en la ciudad de Santiago de los Caballeros.
  El teatro posee tres grandes salas: la sala principal de la Restauración, la sala Divina Gómez y la Eduardo Brito, donde se presentan destacados espectáculos de artistas y compañías tanto nacionales como internacionales.
  El Gran Teatro del Cibao es el teatro principal de esta región y uno de los más grandes e importantes de la República Dominicana.
</p>

<h3 style="color: #3fc1c9;">Sus Antecedentes</h3>

<p>
  Los esfuerzos por tener en nuestro país una política cultural de estado, acorde con los nuevos tiempos, se remontan al año 1979, cuando una misión de la UNESCO, teniendo como contraparte a destacados intelectuales dominicanos, emprendió el primer diagnóstico sobre las instituciones culturales estatales. Este informe mostró que dichas instituciones se caracterizaban por la dispersión y duplicidad, por lo que recomendó la creación de una instancia reguladora de todas las instituciones culturales que operaban en diferentes secretarías (hoy ministerios) y otros organismos del Estado dominicano.
  En el año 1997, mediante el Decreto del Poder Ejecutivo No 82-97, se creó el Consejo Presidencial de Cultura, organismo que realizó un notable esfuerzo en favor de la sistematización y consolidación de la acción cultural desarrollada por los sectores público y privado.
  <br>
  El Diálogo Nacional, iniciado en 1997 y concluido el 8 de marzo de 1998, fue escenario para que artistas e intelectuales presentaran nuevamente la demanda de la creación de una Secretaría de Estado de Cultura.
  Mediante la Ley 41-00, de fecha 28 de junio del año 2000, fue creada la Secretaría de Estado de Cultura como instancia de nivel superior, encargada de coordinar el Sistema Nacional de Cultura. A partir de la promulgación de dicha Ley quedaron transferidas todas las instituciones culturales estatales para que dependieran directamente de la Secretaría de Estado de Cultura.  
</p>

<img src="https://robertocavada.com/wp-content/uploads/2020/09/Gran-Teatro-del-Cibao.jpg" alt="foto" width="300px" height="300px"> 
=======
<app-header></app-header>

