
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Proyecto Final</title>
</head>

<body>
    <div class="footer-basic">
            <div class="social"><a href="#"><i class="icon ion-social-instagram"></i></a><a href="#"><i class="icon ion-social-snapchat"></i></a><a href="#"><i class="icon ion-social-twitter"></i></a><a href="#"><i class="icon ion-social-facebook"></i></a></div>

              <p>
                Para más información llame a este numero:(809) 583-1150
                <br> 
                Nos ubicamos en la: Calle Daniel Espinal, esq. Av. Las Carreras. Santiago
                <br>
                Horario: 9:00 a. m. - 4:00 p.m.
                <br> 
                Nuestra pagina web:https://www.facebook.com/GTCgranteatrocibao/
              </p>
            <p class="copyright"> Company Name © 2018</p>
    </div>
    <div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/js/bootstrap.bundle.min.js"></script>
   </div>
</body>
