<h2 style= "color: #364F6B;">Funciones en el 2021</h2>

<ul>
    <li>Sábado, 6 de Noviembre, 2021- Inmunidad de Rebaño </li>
    <li>Sábado, 13 de Noviembre, 2021- Construcción de personajes</li>
    <li>Lunes, 15 de Noviembre, 2021- Ponte en Onda</li>
    <li>Miércoles, 17 de Noviembre, 2021- Ponte en Onda</li>
    <li>Viernes, 17 de Diciembre, 2021- Orfeón de Santiago</li>
    <li>Martes, 21 de Diciembre, 2021- Navidad Mágica en Concierto</li>
    <li>Miércoles, 22 de Diciembre, 2021- Navijazz</li>
    </ul>

<img src="../assets/funcion.jpg" alt="navidad"style="width:470px;height:350px;">